.cabecalho__dados__cliente{
 
    font-family: 'Roboto';
    border-bottom: 2px solid rgb(216, 215, 215);
    margin-top: 3em;

}

.titulo__dados__cliente{

    color:var(--cinza-escuro);
    margin: .3em;
    font-size: 1.6em;
    font-weight: 500;
}

#form-container{
    display: flex;
    gap: 20px;
    margin: 2em 0 5em 0;
}
#inputs{

    width: 450px;
}

#input-select{
    width: 100px ;
}


#container-total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
   
}
  


#total{
    font-size: 1.5em;
    margin: .4em 0 .2em  0;
    font-weight: bold;
    color: rgb(61, 73, 82);
    text-align: center;
}


