main{
    margin-top: 1.8em ;
}

.lista__itens{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.itens{
    margin: 1em 0;
}



.descricao h5{

    font-size: 12px;

}
.active{
    display: flex;
    flex-direction: column;
    margin-top: -7em;
    background-color: #fff;
    opacity: 0.8;
  
}

#titulo{
    font-size: 0.8em;
    font-weight: 500;
    height:28px;

}

#preco{
    font-size: 1.3em;
    margin: .4em 0 .2em  0;
    font-weight: bold;
    color: rgb(61, 73, 82);
}


#descricao{
    font-size: 0.7em;
    
}

#desconto{
    font-size: 0.7em;
    margin-bottom: -18px;
}


.decremento__incremento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.decremento__incremento button{
    border-radius: 50px;
    border: none;
    padding: 2px 4px;
    margin: -8px 10px 0 10px;
   
}

.decremento__incremento button img{
   
    margin-top: 0.1em;
   
}

.decremento__incremento button:hover{
    transition: all 0.5s ease-in-out;
    background-color: rgb(138, 159, 170);
    cursor: pointer;

   
}
#inputAdicionar{
    padding: 0.5em;
    text-align: center;
    
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

.container__adicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 10px 0 ;
}


#button-adicionar{
    background-color: rgb(0, 132, 255);
    color: #fff;
    border: none;
    width:100%;
    padding: 5px 5px;
    margin: 0 10px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Roboto';
}

#conteiner-card{

}
