#button-finalizar {
    background-color: rgb(236, 143, 4);
    margin-bottom: 2em;
    width: 170px;



}

#button-finalizar a {
    color: #fff;
    font-size: 12px;
}


/*RESPONSIVIDADE*/

@media (min-width: 1140px){

    #button-finalizar {
       
        width: 190px;
        padding: .6em;
    
    
    
    }

    #button-finalizar a {
        color: #fff;
        font-size: 14px;
    }

}