.conteiner-geral {

    align-items: center;
    background-color: rgb(230, 235, 240);
    display: flex;
    height: 100vh;
    justify-content: center;

}

#container-card-finalizar {

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 360px;
    justify-content: center;
    padding: 1em 2em;
    position: relative;
    text-align: center;
    width: 240px;
   
}


#nome-card-finalizar {

    color: rgb(61, 73, 82);
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: 600;
    margin: .4em 0 .2em 0;
    text-align: center;

}

#descricao-card-finalizar {

    color: rgb(61, 73, 82);
    font-family: 'Roboto';
    font-size: .9em;
    font-weight: 600;
    margin: .4em 0 .2em 0;
    text-align: center;

}

#descricao-card-finalizar {

    color: rgb(61, 73, 82);
    font-size: .9em;
    font-family: 'Roboto';
    font-weight: 600;
    margin: .4em 0 .2em 0;
    text-align: center;
}

.valor__finalizar {
    color: rgb(56, 121, 241);
    font-weight: bold;
}

.like {
    width: 140px;
    margin-top: 1em;

}




